
<% if (successMsg ) { %>
    <p class="flash-msg" style="color: green;"><%= successMsg  %></p>
<% } %>

<main class="main-contant">
    <div class="row-main-products">
        <section class="cart-summary">
            <div class="summary-head">
                <h3>Shopping Cart [ <span class="cart-summary-span" style="color: rgb(3, 169, 175);"><%= totalCartItem %></span> items ]</h3>
            </div>
    
            <div class="summary-details">
                <ul>
                    <li><input type="checkbox" name="" id="select-all"> Select all items</li>

                    <!-- <form action="/users/remove-from-cart-all" method="post">
                            <button type="submit"><li><i class="fa-solid fa-trash-can"></i></li></button>
                    </form> -->

                    <li class="deleteAll-icon" hidden><i class="fa-solid fa-trash-can deleteAll-btn"></i></li>
                    <li><a href="/users/shop"><button class="button-style">Shop More</button></a></li>
                </ul>
            </div>
        </section>
    
    <div class="cart-products">
        
        <% currentUser.cart.forEach(element => { %>

            <% if (element.product) { %>
                  <section class="cart-product">
                <div class="left-cart">
                    <div>
                        <input type="checkbox" name="" class="cart-item">
                    </div>
                <div class="product-img">
                    <img src="/uploads/<%= element.product.avater %>" alt="">
                </div>
                </div>
        
                <div class="right-cart">
                <div class="right-details">
                        <h3><%= element.product.productName %></h3>
                        <h4>Price: <%= element.product.price %></h4>
                        <p>Free Shipping</p>
                </div>
    
                    <div class="count">
                        <form action="/users/remove-from-cart/<%= element.product._id %>" method="post">
                            <button type="submit" class="count-trash"><i class="fa-solid fa-trash-can"></i></button>
                        </form>
                        
                <div>
                            <!-- <ul>
                                <li><i class="fa-solid fa-plus"></i></li>
                                <li>3</li>
                                <li><i class="fa-solid fa-minus"></i></li>
                            </ul> -->

                    <button class="qty-btn" data-id="<%= element.product._id %>" data-action="dec">-</button>
                    <span class="qty-span" id="qty-<%= element.product._id %>"><%= element.quantity %></span>
                    <button class="qty-btn" data-id="<%= element.product._id %>" data-action="inc">+</button>

                </div>

                    </div>
            </div>
        </section>
            <% } %>
          
        <% }) %>
    
    
    
    
    </div>
</div>


    <section class="payment">
       <div class="row-payment">
        <h2>Payment Summary</h2>
       <div>
        <p>Subtotal:</p>
        <p class="subtotal"><%#= totalAmount %></p>
       </div>

       <div>
        <p>Shipping Cost:</p>
        <p class="shipping-cost">00</p>
       </div>

       <div>
        <p>Total Cost:</p>
        <p class="total-cost"> <%#= totalAmount %></p>
       </div>
       
       <button class="button-style">Pay Now</button>
       </div>

      <div class="payment-methods">
           <div> <h2>Payment Methods</h2></div>
    
            <div class="payment-name">
                <div><img src="/images/payment-1.png.webp" alt=""></div>
                <div><img src="/images/payment-2.png.webp" alt=""></div>
                <div><img src="/images/payment-3.png.webp" alt=""></div>
                <div><img src="/images/payment-4.png.webp" alt=""></div>
                <div><img src="/images/payment-5.png.webp" alt=""></div>
            </div>
      </div>

    </section>

   
</main>


                <!-- Main Ends -->